.modal-login {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: all .3s;
}

.modal-login-active {
    transform: translateY(-110vh);
}